.width130{
  width:130px; 
}

.width200{
    width:200px; 
}

.width220{
  width:220px; 
}

.width130center {
  width:130px; 
  text-align: center !important;
}

.width200center {
    width:200px; 
    text-align: center !important;
}

.width220center {
  width:220px; 
  text-align: center !important;
}

.center {
    text-align: center !important;
}

.picker {
  width: 100%; 
  text-align: right; 
  padding-left: 1em
}
  
  .event-table{
    overflow: overlay;
    min-height: 300px;
  }