.width130{
  width:130px; 
}

.width200{
    width:200px; 
}

.width220{
  width:220px; 
}

.width130center {
  width:130px; 
  text-align: center !important;
}

.width200center {
    width:200px; 
    text-align: center !important;
}

.width220center {
  width:220px; 
  text-align: center !important;
}

.center {
    text-align: center !important;
}

/* component.scss */
.color-red {
    background-color: #ffcdd2;
    color: #c63737;
  }
  
  .color-blue {
    background-color: #b3e5fc;
    color: #23547b;
  }
  
  .color-green {
    background-color: #c8e6c9;
    color: #256029;
  }

  .color-orange {
    background-color: #fff2e2;
    color: #cc8925;
  }
  
  .event-table{
    overflow: overlay;
    min-height: 300px;
  }